/* iroiro */

:root {
  --pico-font-size: 80%;
}

html, body {
  margin: 0; padding: 0;
}
html, body, #map {
  height: 100%;
  width: 100vw;
}
body > header {
  position: absolute; top: 0; width: 100vw;
  display: flex; justify-content: end;
}
h1 {
  color: #fff;
  -webkit-text-stroke: 1px #000;
  margin-top: 10px;
  z-index: 1000;
  -webkit-user-select: none;
  user-select: none;
  text-shadow: 1px 1px 1px #000;
  writing-mode: vertical-rl;
}

#spinner { position: fixed; bottom: 10px; left: 10px; z-index: 1005; }
dialog .coordinates { color: #999999; }
dialog .license { color: #999999; }
dialog .source { text-align: left; }

.pico th { font-weight: 700; }

.multimedia {
  display: flex; flex-wrap: wrap;
  justify-content: center; align-items: center;
}
.multimedia img { border: 1px solid #000; max-width: 128px; }

